.buttons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.btn {
  margin-right: 8px;
  background-color: lightskyblue;
  border: 1px solid;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 5px 5px 5px #000;
}
